# _MAPING, FILTERING, REDUCING_

La función "map()" se utiliza para aplicar una función dada a cada elemento de un iterable, como una lista o una tupla, y devuelve un objeto de mapa.

Gracias a esta función, podemos por ejemplo convertir una lista de cadenas en una lista de número enteros:

In [11]:
lista_string = ['1','2','3','4','5']
lista_string

['1', '2', '3', '4', '5']

In [12]:
mapping = map(int,lista_string)
mapping

In [13]:
print(list(mapping))

[1, 2, 3, 4, 5]

En este caso usamos la función int incorporada para convertir cada cadena de la "lista_string" en un entero. Lafunción map() se encarga de aplicar int() a cada elemento.

La sintaxis de "map()", es la siguiente: **map(función, iterable)**

* Función: La función que queremos aplicar a cada elemento iterable.
* Iterable: El iterable cuyos elementos queremos procesar.

Así es como podemos duplicar cada elemento de la lista dada:

In [16]:
a = [1,2,3,4,5]

In [17]:
def doble (value):
    return value * 2

In [18]:
res = list(map(doble,a))
print(res)

[2, 4, 6, 8, 10]

## _MAP CON LAMBDA_

Para que el código sea más breve y sencillo, podemos utilizar una función lambda en lugar de una función personalizada con "map()"

Así es como podemos mejorar el anterior código:

In [19]:
res = list(map(lambda x : x * 2, a))

print(res)

[2, 4, 6, 8, 10]

Podemos usar "map()" con múltiples iterables, si la función que estamos aplicando toma más de un argumento.

En el siguiente ejemplo, "map()" toma dos iterables (a y b), y aplica se aplica la función lambda para agregar los elementos correspondientes de ambas listas:

In [20]:
a = [1, 2, 3]
b = [4, 5, 6]

In [21]:
res = map(lambda x, y : x + y, a, b)
print(list(res))

[5, 7, 9]

No solo se puede hacer con números, también se puede hacer con strings.

En este caso, convertiremos las mayúsculas en minúsculas:

In [22]:
list_string = ['BUENOS DÍAS', 'BUENAS TARDES', 'BUENAS NOCHES']

In [23]:
res = list(map(str.lower,list_string))
print(res)

['buenos días', 'buenas tardes', 'buenas noches']

## _FILTERING_

La función "filter()" devuelve un iterador donde los elementos se filtran a través de una función para probar si el elemento se acepta o no.

Su sintaxis es la siguiente: **filter (función, iterable)**

* Función: Una función que se ejecutará para cada elemento iterable.
* Iterable: El iterable para ser filtrado.

Por ejemplo, queremos filtrar la matrix y devolver una nueva matriz con solo los valores iguales o superiores a 18:

In [24]:
edades = [5, 12, 17, 18, 24, 32]

In [29]:
def funcion (edad):
    if edad < 18:
        return False
    else:
        return True

adults = filter(funcion, edades)

for edad in adults:
    print(edad)

18
24
32

In [30]:
lst = [i for i in range(10_000_000)]

lst[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
len(lst)

10000000

In [38]:
def buscar_pares(numero):
    
    if numero % 2 == 0: #es par
        return True
    
    else:
        return False

In [39]:
buscar_pares(8)

True

In [40]:
filter(buscar_pares, lst)

In [43]:
list(filter(buscar_pares, lst))[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Este código lo podemos reducir de la siguiente manera:

In [46]:
res = []

for numero in lst:
    
    if numero % 2 == 0:
        res.append(numero)

    else:
        pass

res[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [49]:
list(filter(lambda numero: numero % 2 == 0, lst))[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## _REDUCING_

La función "reduce()" se utiliza para aplicar una función particular pasada en su argumento a todos los elementos de la lista mencionados en la secuencia pasada.

Para poder usar esta herramienta, es necesario desde functools importar la biblioteca reduce, es decir, **_from functools import reduce_**.

**PASOS**

1. Se seleccionan los dos primeros elementos de la secuencia y se obtiene el resultado.
   
2. Aplicamos la misma función al resultado obtenido previamente y al número que sigue al segundo elemento y el resultado se almacena nuevamente.
   
3. El proceso continúa hasta que no queden más elementos en el contenedor.
   
4. El resultado final devuelto se devuelve y se imprime en la consola.

In [50]:
from functools import reduce

In [51]:
def sumar (a,b):

    print(a,b)

    return a + b

In [52]:
sumar(5, 7)

5 7

12

In [53]:
reduce(sumar, lst[:10])

0 1
1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9

45

In [54]:
def producto (a,b):

    print(a,b)

    return a * b

In [56]:
reduce(producto, lst[1:10])

1 2
2 3
6 4
24 5
120 6
720 7
5040 8
40320 9

362880

In [57]:
lst_lst = [[1,2,3], [4,5,6], [7,8,9]]

len(lst_lst)

3

In [58]:
reduce(lambda a,b: a+b, lst_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
reduce(sumar, lst_lst)

[1, 2, 3] [4, 5, 6]
[1, 2, 3, 4, 5, 6] [7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]